Skip set_hostname for IP addresses 

https://github.com/sfackler/rust-openssl/blob/0138f525243e8d2ed2573e86ffaed7178c30b904/openssl/src/ssl/connector.rs#L181-L184

Right now, the SNI extension is added to outgoing client connections regardless of the content of the hostname, based only on whether the user called `set_sni(false)`. However, when connecting to an IP address, this behavior is forbidden:

https://www.rfc-editor.org/rfc/rfc6066#page-7

> Literal IPv4 and IPv6 addresses are not permitted in "HostName".

I suggest that we try parsing the hostname as an IPv4 and an IPv6 address. If either succeeds, the SNI extension should not be added.

The matching OpenSSL bug for this is https://github.com/openssl/openssl/issues/20041 (but seems unlikely they'll fix it, so it's down to every caller of OpenSSL to care about the minutiae of RFC6066.)

The former. RFC 6066 specifically forbids IP addresses, but does not normatively reference [RFC 1034 Preferred Name Syntax](https://www.rfc-editor.org/rfc/rfc1034#section-3.5).

For reference, RFC 5280 _does_ normatively reference Preferred Name Syntax. So it's correct for a certificate verifier that implements RFC 5280 or the (narrower) WebPKI to require Preferred Name Syntax. Notably, Preferred Name Syntax forbids underscores in hostnames, while many DNS implementations allow them and local networks (particularly Windows-oriented networks) often have hostnames in that form. That's why it took some effort by root programs to get CAs to stop issuing malformed certificates with underscores in them.

There are almost certainly still private PKIs that waive the Preferred Name Syntax requirement and allow hostnames with underscores. Enforcing it for SNI would likely cause some amount of breakage, and AFAICT is not required by any specification.

This crate already attempts to parse the hostname as an IP address in setup_verify_hostname: https://github.com/sfackler/rust-openssl/blob/0138f525243e8d2ed2573e86ffaed7178c30b904/openssl/src/ssl/connector.rs#L397-L400

That could be hoisted up to this location.