Remove get_rfc2409_prime_768, get_rfc2409_prime_1024, and possibly get_rfc3526_prime_1536

rust-openssl appears to bind every DH group that OpenSSL provides. This includes 768-bit and 1024-bit primes, which are too small to be used. See [RFC 8247, section 2.4](https://www.rfc-editor.org/rfc/rfc8247#section-2.4):

> Group 5 or the 1536-bit MODP Group has been downgraded from MAY in
> [RFC 4307](https://www.rfc-editor.org/rfc/rfc4307) to SHOULD NOT. It was specified earlier, but is now
> considered to be vulnerable to being broken within the next few years
> by a nation-state-level attack, so its security margin is considered
> too narrow.
>
> Group 2 or the 1024-bit MODP Group has been downgraded from MUST- in
> [RFC 4307](https://www.rfc-editor.org/rfc/rfc4307) to SHOULD NOT. It is known to be weak against sufficiently
> funded attackers using commercially available mass-computing
> resources, so its security margin is considered too narrow. It is
> expected in the near future to be downgraded to MUST NOT.
>
> Group 1 or the 768-bit MODP Group was not mentioned in [RFC 4307](https://www.rfc-editor.org/rfc/rfc4307) and
> so its status was MAY. It can be broken within hours using cheap
> off-the-shelf hardware. It provides no security whatsoever. It has,
> therefore, been downgraded to MUST NOT.

rust-openssl not only binds all three of these, but does not even warn in documentation that they're unsuitable for use.

`rust-openssl` tries to mirror the OpenSSL API exactly, I'm hesitant to remove these because they are part of OpenSSL. However, I'd happily take a PR adding documentation saying that they're awful and shouldn't be used.

I think we've seen from the slow of X.509-related security vulnerability that naively mirroring OpenSSL's API is simply not responsible. Certainly not for a crate that's part of an ecosystem that purports to be safe.

You need to apply some amount of subject matter context when working on a library like this. Otherwise you can't tell what APIs look the way they do due to historical mistakes, constraints that don't apply to rust-openssl, ideosyncracies from the rest of OpenSSL, etc.